.cont {
  margin-top: 40px;
  display: inline-block;
  width: 400px;
  img,div {
    display: inline-block;
    vertical-align: top;
  }
  img {
    border: 5px solid white;
    height: 200px;
    width: 200px;
    border-radius: 125px;
  }
  div {
    width: calc(100% - 245px);
    margin-left: 40px;
  }
}