<h3>Projects - Under Construction</h3>
<div class="cont">
  <img src="./assets/social.png">
  <div>
    <h3><a href="https://www.socialup.it" target="_blank">SocialUp.it</a></h3>
    <span>Server Administrator for <b>SocialUp.it</b>, One of the largest Italian Newspapers online.</span>
  </div>  
</div>
<div class="cont">
  <img src="./assets/myshort.png">
  <div>
    <h3><a href="https://www.myshort.it" target="_blank">MyShort.it</a></h3>
    <span>Founder and Software Engineer of MyShort.it, an online URL shortener. This platform track user statistics like clicks, sponsorizations, etc. and the final user can be paid for publishing the links online.</span>
  </div>  
</div>
<div class="cont">
    <img src="./assets/my.png">
    <div>
      <h3><a href="https://www.azurehead.com" target="_blank">AzureHead.com</a></h3>
      <span>Founder and Software Engineer of AzureHead.com, an online portfolio. It is now available on GitHub and allows tech people to have an online (VERY NERD ;-)) CV easily editable. CV is customizable with a JSON file.</span>
    </div>  
  </div>