<h3>Who am I?</h3>
<div class="cont">
  <img src="./assets/sergio5.jpg">
  <div>
    Hi, I am Sergio :-)<br><br>I am a competitive and passionate, mostly focused on Microsoft technologies and programming languages. My interests are mostly related to Cloud Computing, Code Security, Database Modelling and Application Development.<br>Currently I am a working as a Full Stack Web Developer in Turin. This is a job that I really enjoy since I am able to grow up as a developer every day, through my daily tasks.<br>When I receive positive feedback related to my job, I feel that this is the ultimate victory.<br>I really love to share my knowledge in technology, work with other people and being challenged every day.<br><br>
    Please feel free to <span [routerLink]="'/contacts'">contact me</span> to share ideas, projects, etc :-)
  </div>  
</div>