.cont {
  margin-top: 40px;
  img,div {
    display: inline-block;
    vertical-align: top;
  }
  img {
    border: 5px solid white;
    height: 200px;
    width: 200px;
    border-radius: 125px;
  }
  div {
    width: calc(100% - 260px);
    margin-left: 40px;
  }
  span {
    text-decoration: underline;
    cursor: pointer
  }
}