<header>
  <ng-container *ngFor="let link of links">
    <div class="menu-button link">
      <a href="{{ link.url }}" *ngIf="!link.internal"><span>{{ link.label }}</span></a>
      <span *ngIf="link.internal" [routerLink]="link.url">{{ link.label }}</span>
    </div>
  </ng-container>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="closing">Made with ❤ in Italy by <a href="https://linkedin.com/in/sergiusxp" target="_blank">Sergio Meloni</a></div>
</footer>