header {
    z-index: 1000;
}

.closing {
    vertical-align: middle;
    margin-top: 10px;
    font-size: 16px;
    a {
        color: #E86063;
        font-weight: bold;
        text-decoration: none;
    }
}